.cards__item{
    width:240px;
    
    /* margin-left: 100px; */
    /* border: 3px solid rgb(202, 32, 20);  */
    /* display: flex;                 */
    /* justify-content: center;       */
    /* align-items: center; 
    flex-direction:column; */
}
/* .cards__item_center{
    width:240px;
    margin-left: 90px;
    margin-right: 90px;
    /* margin-left: 100px; */
    /* border: 3px solid rgb(202, 32, 20);  */
    /* display: flex;                
    justify-content: center;      
    align-items: center; 
    flex-direction:column;
} */