.feynman__title{
     
    z-index: 5;
    position: relative;                      
    margin: auto;
  
    text-align: center;
    width: 648px;
    /* border: 3px solid rgb(189, 207, 188); */
    top: 100px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
}